---
// BackgroundEffects.astro
---

<div class="background-effects">
  <div class="gradient-overlay"></div>
  <div class="gradient-blue"></div>
  <div class="gradient-purple"></div>

  <div class="particles-container">
    {
      Array.from({ length: 100 }).map((_, i) => (
        <div class={`particle particle-${i + 1}`} />
      ))
    }
  </div>
</div>

<style>
  .background-effects {
    pointer-events: none;
    position: fixed;
    inset: 0;
  }

  .gradient-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to bottom,
      rgb(15 23 42) 0%,
      rgb(15 23 42 / 0.9) 50%,
      rgb(15 23 42) 100%
    );
  }

  .gradient-blue {
    position: absolute;
    right: 0;
    top: 0;
    height: 500px;
    width: 500px;
    background: rgb(59 130 246 / 0.1);
    filter: blur(100px);
  }

  .gradient-purple {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 500px;
    width: 500px;
    background: rgb(147 51 234 / 0.1);
    filter: blur(100px);
  }

  .particles-container {
    position: absolute;
    inset: 0;
    overflow: hidden;
    z-index: 1;
  }

  .particle {
    position: absolute;
    width: 4px;
    height: 4px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 50%;
    animation: float 10s linear infinite;
  }

  @keyframes float {
    0% {
      transform: translateY(0) scale(1);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translateY(-100vh) scale(0.5);
      opacity: 0;
    }
  }

  .particle-1 { left: 5%; top: 100%; animation-delay: 0s; }
  .particle-2 { left: 10%; top: 100%; animation-delay: 2s; }
  .particle-3 { left: 20%; top: 100%; animation-delay: 4s; }
  .particle-4 { left: 30%; top: 100%; animation-delay: 6s; }
  .particle-5 { left: 40%; top: 100%; animation-delay: 1s; }
  .particle-6 { left: 50%; top: 100%; animation-delay: 3s; }
  .particle-7 { left: 60%; top: 100%; animation-delay: 5s; }
  .particle-8 { left: 70%; top: 100%; animation-delay: 7s; }
  .particle-9 { left: 80%; top: 100%; animation-delay: 8s; }
  .particle-10 { left: 90%; top: 100%; animation-delay: 9s; }
  .particle-11 { left: 12%; top: 100%; animation-delay: 1.2s; }
  .particle-12 { left: 18%; top: 100%; animation-delay: 2.4s; }
  .particle-13 { left: 25%; top: 100%; animation-delay: 3.1s; }
  .particle-14 { left: 35%; top: 100%; animation-delay: 4.3s; }
  .particle-15 { left: 45%; top: 100%; animation-delay: 5.5s; }
  .particle-16 { left: 55%; top: 100%; animation-delay: 6.8s; }
  .particle-17 { left: 65%; top: 100%; animation-delay: 1.8s; }
  .particle-18 { left: 72%; top: 100%; animation-delay: 2.9s; }
  .particle-19 { left: 83%; top: 100%; animation-delay: 4.1s; }
  .particle-20 { left: 91%; top: 100%; animation-delay: 5.2s; }
  .particle-21 { left: 7%; top: 100%; animation-delay: 0.5s; }
  .particle-22 { left: 14%; top: 100%; animation-delay: 1.7s; }
  .particle-23 { left: 23%; top: 100%; animation-delay: 3.2s; }
  .particle-24 { left: 33%; top: 100%; animation-delay: 4.6s; }
  .particle-25 { left: 38%; top: 100%; animation-delay: 6.1s; }
  .particle-26 { left: 47%; top: 100%; animation-delay: 2.3s; }
  .particle-27 { left: 53%; top: 100%; animation-delay: 3.5s; }
  .particle-28 { left: 62%; top: 100%; animation-delay: 5.7s; }
  .particle-29 { left: 69%; top: 100%; animation-delay: 1.4s; }
  .particle-30 { left: 76%; top: 100%; animation-delay: 2.8s; }
  .particle-31 { left: 84%; top: 100%; animation-delay: 4.0s; }
  .particle-32 { left: 88%; top: 100%; animation-delay: 5.9s; }
  .particle-33 { left: 3%; top: 100%; animation-delay: 0.9s; }
  .particle-34 { left: 16%; top: 100%; animation-delay: 2.1s; }
  .particle-35 { left: 28%; top: 100%; animation-delay: 3.9s; }
  .particle-36 { left: 41%; top: 100%; animation-delay: 5.1s; }
  .particle-37 { left: 52%; top: 100%; animation-delay: 6.4s; }
  .particle-38 { left: 66%; top: 100%; animation-delay: 1.1s; }
  .particle-39 { left: 78%; top: 100%; animation-delay: 2.6s; }
  .particle-40 { left: 95%; top: 100%; animation-delay: 3.8s; }
  .particle-41 { left: 4%; top: 100%; animation-delay: 1.3s; }
  .particle-42 { left: 13%; top: 100%; animation-delay: 2.5s; }
  .particle-43 { left: 22%; top: 100%; animation-delay: 4.7s; }
  .particle-44 { left: 31%; top: 100%; animation-delay: 6.3s; }
  .particle-45 { left: 39%; top: 100%; animation-delay: 1.6s; }
  .particle-46 { left: 48%; top: 100%; animation-delay: 3.4s; }
  .particle-47 { left: 56%; top: 100%; animation-delay: 5.6s; }
  .particle-48 { left: 63%; top: 100%; animation-delay: 2.7s; }
  .particle-49 { left: 71%; top: 100%; animation-delay: 3.6s; }
  .particle-50 { left: 79%; top: 100%; animation-delay: 4.9s; }
  .particle-51 { left: 6%; top: 100%; animation-delay: 0.8s; }
  .particle-52 { left: 11%; top: 100%; animation-delay: 2.2s; }
  .particle-53 { left: 19%; top: 100%; animation-delay: 3.3s; }
  .particle-54 { left: 27%; top: 100%; animation-delay: 5.4s; }
  .particle-55 { left: 34%; top: 100%; animation-delay: 6.6s; }
  .particle-56 { left: 43%; top: 100%; animation-delay: 1.5s; }
  .particle-57 { left: 49%; top: 100%; animation-delay: 2.0s; }
  .particle-58 { left: 58%; top: 100%; animation-delay: 3.7s; }
  .particle-59 { left: 67%; top: 100%; animation-delay: 5.8s; }
  .particle-60 { left: 74%; top: 100%; animation-delay: 6.9s; }
  .particle-61 { left: 8%; top: 100%; animation-delay: 0.6s; }
  .particle-62 { left: 15%; top: 100%; animation-delay: 1.9s; }
  .particle-63 { left: 24%; top: 100%; animation-delay: 3.0s; }
  .particle-64 { left: 32%; top: 100%; animation-delay: 4.4s; }
  .particle-65 { left: 37%; top: 100%; animation-delay: 6.2s; }
  .particle-66 { left: 46%; top: 100%; animation-delay: 2.5s; }
  .particle-67 { left: 54%; top: 100%; animation-delay: 3.8s; }
  .particle-68 { left: 61%; top: 100%; animation-delay: 5.3s; }
  .particle-69 { left: 68%; top: 100%; animation-delay: 1.0s; }
  .particle-70 { left: 75%; top: 100%; animation-delay: 2.9s; }
  .particle-71 { left: 82%; top: 100%; animation-delay: 4.5s; }
  .particle-72 { left: 87%; top: 100%; animation-delay: 6.7s; }
  .particle-73 { left: 2%; top: 100%; animation-delay: 0.3s; }
  .particle-74 { left: 9%; top: 100%; animation-delay: 1.6s; }
  .particle-75 { left: 17%; top: 100%; animation-delay: 2.6s; }
  .particle-76 { left: 26%; top: 100%; animation-delay: 4.2s; }
  .particle-77 { left: 36%; top: 100%; animation-delay: 5.0s; }
  .particle-78 { left: 42%; top: 100%; animation-delay: 6.5s; }
  .particle-79 { left: 51%; top: 100%; animation-delay: 1.7s; }
  .particle-80 { left: 59%; top: 100%; animation-delay: 2.4s; }
  .particle-81 { left: 64%; top: 100%; animation-delay: 3.4s; }
  .particle-82 { left: 73%; top: 100%; animation-delay: 5.6s; }
  .particle-83 { left: 81%; top: 100%; animation-delay: 0.7s; }
  .particle-84 { left: 86%; top: 100%; animation-delay: 1.8s; }
  .particle-85 { left: 92%; top: 100%; animation-delay: 3.9s; }
  .particle-86 { left: 97%; top: 100%; animation-delay: 5.5s; }
  .particle-87 { left: 1%; top: 100%; animation-delay: 0.4s; }
  .particle-88 { left: 6%; top: 100%; animation-delay: 1.1s; }
  .particle-89 { left: 19%; top: 100%; animation-delay: 2.2s; }
  .particle-90 { left: 29%; top: 100%; animation-delay: 3.5s; }
  .particle-91 { left: 38%; top: 100%; animation-delay: 4.8s; }
  .particle-92 { left: 44%; top: 100%; animation-delay: 6.3s; }
  .particle-93 { left: 57%; top: 100%; animation-delay: 2.7s; }
  .particle-94 { left: 63%; top: 100%; animation-delay: 3.3s; }
  .particle-95 { left: 70%; top: 100%; animation-delay: 5.1s; }
  .particle-96 { left: 77%; top: 100%; animation-delay: 6.6s; }
  .particle-97 { left: 85%; top: 100%; animation-delay: 1.2s; }
  .particle-98 { left: 93%; top: 100%; animation-delay: 2.3s; }
  .particle-99 { left: 98%; top: 100%; animation-delay: 4.6s; }
  .particle-100 { left: 99%; top: 100%; animation-delay: 6.0s; }

</style>
