---
import Layout from "@layouts/Layout.astro"
import AnimatedBackground from "@components/layout/AnimatedBackground.astro"
---

<Layout title="PA Liderazgo - Gestión de Equipos">
  <div
    class="h-screen w-screen relative overflow-hidden"
    id="portafolio-container"
  >
    <!-- Fondo animado -->
    <!-- <div class="absolute inset-0 gradient-animated animate-gradient-shift"></div> -->
    <AnimatedBackground />
    <div
      class="absolute inset-0"
      style={`background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url( "/images/tema-tres.jpg" ); background-repeat: no-repeat;`}
    >
    </div>
    <div class="absolute inset-0">
      <img
        id="proyecto-imagen-principal"
        src="https://images.unsplash.com/photo-1460925895917-afdab827c52f"
        class="size-full object-cover"
        transition:name="image-tema-tres"
      />
    </div>
  </div>
</Layout>
