---
import StudentsContent from "@components/portafolio/StudentsContent.astro";
---

<div
  class="relative flex items-center justify-center min-h-screen z-40"
  id="initial-state"
>
  <div
    id="video-poster-wrapper"
    class="inset-0 flex items-center justify-center rounded-md overflow-hidden cursor-pointer relative"
  >
    <img
      src="/images/posterVideo.jpg"
      alt="Poster del video"
      class="w-[750px] h-[450px] object-cover rounded-md inset-0"
    />
    <div class="absolute w-[750px] h-[450px] bg-black/30 rounded-md pointer-events-none"></div>
    <button
      id="play-button"
      class="absolute text-white bg-white/70 hover:bg-white transition rounded-full p-6"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-10 w-10 text-black"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M14.752 11.168l-5.197-3.023A1 1 0 008 9.028v5.944a1 1 0 001.555.832l5.197-3.023a1 1 0 000-1.712z"
        ></path>
      </svg>
    </button>
  </div>

  <video
    id="video-element"
    controls
    class="rounded-md w-[750px] hidden"
    poster="/images/posterVideo.jpg"
  >
    <source
      src="https://ia804502.us.archive.org/33/items/GoldenGa1939_3/GoldenGa1939_3_512kb.mp4"
      type="video/mp4"
    />
  </video>
</div>
<StudentsContent />