---
---

<div class="absolute inset-0 flex flex-col justify-center items-center text-center z-30" id="initial-state">
    <h1 class="text-4xl md:text-6xl font-light text-white/60 mb-4">
        Un buen lider
    </h1>
    <p class="text-lg text-white/40">
        Un buen lider es...
    </p>
</div>
