---
const images = [
  {
    id: "primero",
    src: "https://images.unsplash.com/photo-1512941937669-90a1b58e7e9c?w=1920&h=1080&fit=crop",
    alt: "Primer Tema",
    position: "top-20 right-20",
  },
  {
    id: "segundo",
    src: "https://plus.unsplash.com/premium_photo-1745952614379-fa5d58983e6e?q=80&w=1933&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    alt: "Segundo Tema",
    position: "top-[50vh] right-20",
  },
  {
    id: "tercero",
    src: "https://cdn.prod.website-files.com/64be95b96cfe9e427b6bf75c/6516841c9352eb1c54cb851d_www.therapyside.compost-eshabilidades-sociales-que-son-que-tipos-hay-y-para-que-sirven.png",
    alt: "Tercer Tema",
    position: "bottom-20 right-20",
  }
]
---

{
  images.map(image => (
    <div
      class={`absolute z-40 opacity-0 scale-50 project-image ${image.position}`}
      id={`${image.id}-image`}
      data-slide-from={image.id}
    >
      <img
        src={image.src || "/placeholder.svg"}
        alt={image.alt}
        class="w-80 h-48 object-cover rounded-2xl shadow-2xl"
      />
    </div>
  ))
}